<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                              
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/34249278?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Астрахань</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">от 60&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/34120514?query=java%20Odessa">Middle QA Automation Engineer (Web)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ФОП Бреус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/33818450?query=java%20Odessa">Middle Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/34097575?query=java%20Odessa">Senior Java developer (Voverc)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Metricly</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/34142470?query=java%20Odessa">Javascript (ES6) Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Devsteam.mobi</td> 
     <td class="salary">11&nbsp;200-28&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/33983068?query=java%20Odessa">Middle+ / Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП АГЕНЦІЯ МОБІЛЬНОЇ РЕКЛАМИ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/33834485?query=java%20Odessa">Senior / Middle Android Разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">VicMan</td> 
     <td class="salary">2&nbsp;000-2&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/33832787?query=java%20Odessa">Middle Web Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО СВИТЕКО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/33919358?query=java%20Odessa">Middle C++ Developer (GameDev)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/33818454?query=java%20Odessa">DevOps engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/560164256">Java программист серверной части</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Дедикейтед Лоджик"06 октября 2015</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000005374">Java разработчик (Java Developer, Middle Java Developer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Алтимета"12 октября 2015</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/800020394">java-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис07 октября 2015</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021444">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">iiko12 октября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021587">Java разработчик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">BelPrime19 октября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008357">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Instabank12 октября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021415">Java программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">SoftAge11 октября 2015</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000005277">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Faidon Design26 октября 2015</td> 
     <td class="salary">От 1 800 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020518">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк «Открытие»28 сентября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021498">Java Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Кадровый центр СОЛОМОН15 октября 2015</td> 
     <td class="salary">От 110 000 до 280 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021665">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VIAcode21 октября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021211">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">John Wiley &amp; Sons Rus, LLC02 октября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012724">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур30 сентября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021705">Senior Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Рексофт22 октября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000014505">Backend-разработчик Java</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АМА ГРУПП08 октября 2015</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021574">Java Team -Lead</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Cinarra19 октября 2015</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021778">Senior Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Inc26 октября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021307">Ведущий Java разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Digital Zone06 октября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/652337989">Ведущий разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний Экстрим12 октября 2015</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020995">Java backend разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Группа компаний Агент.ру06 октября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021567">Java Senior (Moscow/UK)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ETHR19 октября 2015</td> 
     <td class="salary">От 200 000 до 350 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021730">Senior Java Developer</a></td> 
     <td class="city">Варшава</td> 
     <td class="companyName">Kelly Services23 октября 2015</td> 
     <td class="salary">От 1 500 до 4 500 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021419">Отличный frontend-разработчик на Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene12 октября 2015</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021172">Java / Javascript разработчик (front/backend)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Teamlead29 сентября 2015</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021522">Java/Scala developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DIRECTUAL15 октября 2015</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>